.login-register-form {
    margin: 5% auto;
    padding: 1% 10px;
    padding-right: 20px;
    background-color: #dd7631;
    border-radius: 20px;
}

body {
    padding-right: 20px;
}

.title {
    font-family: 'Bad Script', cursive;
    text-align: center;
    font-size: 2.5em;
}

.info {
    width: 60vw;
    margin: 0 auto;
    padding: 1% 10%;
    font-size: 1.1em;
}